body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden; /* Add this line to hide horizontal overflow */
    justify-content: center; /* Center the taskbar horizontally */
    align-items: flex-end; /* Align the taskbar at the bottom */
    display: flex;
}

#taskbar {
    background-color: rgba(51, 51, 51, 0.8); /* Slightly transparent black background */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 80%;
    border-radius: 30px;
    z-index: 999; /* Lower z-index than the splash screen */
}

.app-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s; /* Added opacity transition */
    margin: 0 10px; /* Add margin for space between apps */
    border: none;
}

.app-icon img {
    margin-top: 5px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.app-icon:hover {
    background-color: #555;
    opacity: 1; /* Keep opacity at 100% on hover */
}

.app-name {
    text-align: center;
    margin-top: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#app4 {
    border-radius: 50px;
}


#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #202124; /* White background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.splash-content {
    text-align: center;
}

#splash-screen img {
    max-width: 100%;
    max-height: 100%;
}

.unclickable {
    pointer-events: none;
}


.unclickable {
    pointer-events: none;
}

#clock {
    color: white;
    margin-left: auto;
    font-size: 16px;
    padding-right: 20px;
}

